.main-header {
    height: 70px;
    background-color: #e2e2e2;
}

.hamburguer {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 12px;
}

.hamburguer .linha {
    background-color: #13579e;
    display: block;
    width: 40px;
    height: 4px;
    margin-top: 9px;
    margin-left: 5px;
    border-radius: 3px;
}

#logo {
    width: 160px;
    height: 70px;
    margin: auto;
    float: none;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 7px;
    text-indent: -999999em;
}

.search {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    right: 12px;
}

.search .circulo {
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 50%;
    border: solid 4px #13579e;
}

.search .linha {
    display: block;
    width: 4px;
    height: 24px;
    background-color: #13579e;
    border-radius: 3px;
    position: absolute;
    right: 11px;
    top: 25px;
    transform: rotateZ(137deg);
}

.menu-container{
	color: white;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.84);
    transition: left .5s;
}

.menu-container.aberto {
    left: 0vw;
}

.menu-container.fechado{
    left: -100vw;
}

#main-menu {
    list-style: none;
    font-size: 20px;
    padding: 0;
    width: 150px;
    height: 200px;
    margin-left: calc(50vw - 75px);
    margin-top: calc(50vh - 100px);
}

.hamburguer {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 8px;
    left: 12px;
    z-index: 1;
	cursor: pointer;
}

#main-menu li {
    padding: 2px;
    border-bottom: 1px dotted white;
}

#main-menu li:nth-last-child(1) {
    border-bottom: none;
}

.content {
    min-height: calc(100vh - 200px);
}

#hero {
    height: 210px;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#hero-content {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}

.main-footer .circulo {
    width: 60px;
    height: 60px;
    background-color: #2b2b2b;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}

.redes-sociais {
    overflow: auto;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

#footerCopyright a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 8px;
    transition: all 1s;
}

#footerCopyright a:hover {
    color: #2f2f58;
    text-decoration: none;
}



.main-footer {
    background-color: #929292;
    height: 130px;
}